#map{
    height: 60vh;
    width: 100%;
      background-color: grey;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 5px #000000;
}

* {
  box-sizing: border-box;
}

body {
  top: 0;
  width: 100%;
  background-size: cover;
  background-image: url("https://cdn.discordapp.com/attachments/1160854828562513990/1175736676035862558/RoadMAP.png?ex=656c511b&is=6559dc1b&hm=e4f0a7935a6a0f35174066fbc2de93b2abb8b0758e292fd4a17de1621104a9f5&");
  font-family: Font;
}
@font-face {
  font-family: Font;
  src: url("static/coolvetica rg.otf");
}
.spatiu{
  height: 200vh;
}
h1{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0px 5px 5px #000000;
}