<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/styles2.css">

</head>
<body>

    <div id="navbar" class = "shadow">
    <a href="{{url_for('index')}}" id="logo">
        <img height="50px" src="/static/logo.gif">
    </a>
    <div id="navbar-right">
        <a href="{{url_for('scan')}}" class="active">
            <img height = "50px" src="/static/home.png" alt="Home">
        </a>
        <a href="{{url_for('guide')}}">
            <img height= "50px" , src="/static/contact.png">
        </a>
        <a href="{{url_for('leaderboard')}}">
            <img height="50px", src="/static/ranking-star-solid.png" alt="">
        </a>
        <a href="{{url_for('login')}}">
            <img height="50px"  src="/static/about.png">
        </a>

    </div>
    </div>
    <div id = "header">

    </div>



<script>
    // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's height
    window.onscroll = function() {scrollFunction()};
    var a = 0

    function setMinHeight() {
        var header = document.getElementById('header');
        var backgroundImage = new Image();
        backgroundImage.src = getComputedStyle(header).backgroundImage.replace(/url\((['"])?(.*?)\1\)/gi, '$2').split(',')[0];

        backgroundImage.onload = function() {
            var imageHeight = this.height;
            a = imageHeight
            header.style.minHeight = imageHeight + 'px';
        };
    }
    console.log(a)
    // Call the function on page load
    window.addEventListener('load', setMinHeight);
    function scrollFunction() {
      var navbar = document.getElementById("navbar");
      var logo = document.getElementById("logo");

      if ((document.body.scrollTop > 80 && document.documentElement.scrollTop > 80) || (document.body.scrollMarginBottom > 150  || document.documentElement.scrollTop > 150)) {
        // Shrink the logo
        logo.getElementsByTagName("img")[0].style.height = "50px";

        // Change navbar background color and padding
        navbar.style.backgroundColor = "rgba(0 , 0 , 0,  0.2)";
        navbar.style.padding = "10px";
      } else{
        // Restore the original logo size
        logo.getElementsByTagName("img")[0].style.height = "50px";

        // Restore original navbar background color and padding
        navbar.style.backgroundColor = "transparent";
        navbar.style.padding = "0px";
      }
    }

</script>

</body>
</html>
