<!DOCTYPE html>
<html lang="en">
<style>
  #map {
    height: 400px;
    width: 100%;
      background-color: grey;
  }
</style>
<head>
    <title>Harta puncte reciclare</title>
</head>
<body>
<h1>Puncte reciclare Cluj-Napoca</h1>
    <div id="map"></div>
    <script>
      function initMap()
      {
        var options = {
          zoom: 12,
          center: { lat: 46.7715124, lng:23.6213963 },
        };
        var map = new google.maps.Map(document.getElementById('map'), options);
        var marker = new google.maps.Marker({
          position: { lat: 46.7876976, lng: 23.6088566 },
          map: map,
        });
        var marker2 = new google.maps.Marker({
          position: { lat: 46.7576976, lng: 23.6088566 },
          map: map,
        });

      }
    </script>
     <script async defer
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4BQBDr9xZbeRi4pn6S9V9ga-twiuvMVo&callback=initMap">
     </script>

</body>
</html>